<ion-app>
  <ion-menu contentId="content1" menuID="menu1" side="start" swipe-gesture="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let page of navigate" lines="none">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="page.url" routerDirection="forward">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            {{page.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/settings" routerDirection="forward">
          <ion-icon name="settings" slot="start"></ion-icon>
          Settings
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>