<ion-header>
  <ion-toolbar>
    <ion-title>People</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of people" (click)="presentActionSheet(p)">
      <ion-label>{{p.Name}} </ion-label>
      <ion-label style="text-align: right;">{{p.Total? p.Total : 0}} {{currency}}</ion-label>
    </ion-item>
  </ion-list>
  <br><br><br><br><br><br>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large" href="/add-edit-person">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="deleteAll">
    <ion-fab-button size="large" (click)="deleteAll()" color="dark">
      <ion-icon name="trash" id="deleteFab"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>