<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Language</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio slot="start" value="en" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Ελληνικά</ion-label>
        <ion-radio slot="start" value="gr"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-radio-group id="currency">
      <ion-list-header>Currency: </ion-list-header>
      <ion-item *ngFor="let c of currencies">
        <ion-label> {{c.symbol}} {{ c.name }}</ion-label>
        <ion-radio slot="start" [value]="c.code" (click)="changeCurrency(c.symbol);"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>